# Node modules
node_modules/

# Environment variables
.env

# Build artifacts
dist/
build/

# Logs
logs/
*.log

# OS-specific files
.DS_Store
Thumbs.db

# IDE/editor configs
.vscode/
.idea/
.vercel